/* Toolbox, a container for all toolbars (toolbox#navigator-toolbox):
 * - menu bar (toolbar#toolbar-menubar)
 * - tab bar (toolbar#TabsToolbar)
 * - header bar (toolbar#nav-bar)
 * - bookmark bar (toolbar#PersonalToolbar)
 * - add-ons can add their own toolbars (toolbar) */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Toolbox colors */
#navigator-toolbox {
	border: 0 !important;
	background: none !important;
}

#nav-bar, #PersonalToolbar {
	border: 0 !important;
	color: var(--gnome-button-color) !important;
	background: var(--gnome-toolbar-background) !important;
}

#TabsToolbar, #toolbar-menubar, #tabbrowser-tabs {
	border: 0 !important;
	background: var(--gnome-tabstoolbar-background) !important;
	border-radius: 10px 10px 0 0;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
	color: var(--gnome-toolbar-color) !important;
	fill: var(--gnome-toolbar-color) !important;
}

:root[tabsintitlebar][sizemode="maximized"] #TabsToolbar {
	border-radius: 0 0 0 0 !important;
}

#tabbrowser-tabs {
	box-shadow: none !important;
}

:root:-moz-lwtheme-brighttext, toolbar[brighttext] {
	--toolbarbutton-hover-background: var(--gnome-button-hover-background) !important;
	--toolbarbutton-active-background: var(--gnome-button-active-background) !important;
}

#TabsToolbar:-moz-window-inactive,
#toolbar-menubar:-moz-window-inactive,
#tabbrowser-tabs:-moz-window-inactive {
	background: var(--gnome-inactive-tabstoolbar-background) !important;
}

#toolbar-menubar:not([autohide="true"]) + #TabsToolbar {
	box-shadow: none;
	border-radius: 0 0 0 0;
}

findbar {
	border: 0 !important;
	background: var(--gnome-findbar-background) !important;
	border-top: 1px solid var(--gnome-toolbar-border-color) !important
}

#nav-bar:-moz-window-inactive,
#PersonalToolbar:-moz-window-inactive,
findbar:-moz-window-inactive {
	background: var(--gnome-inactive-toolbar-background) !important;
}

#navigator-toolbox:-moz-window-inactive label, #navigator-toolbox:-moz-window-inactive image,
#downloads-indicator-anchor:-moz-window-inactive,
findbar:-moz-window-inactive image:not(#hack),
findbar:-moz-window-inactive label,
#viewButton:-moz-window-inactive dropmarker {
	opacity: 0.7 !important;
}

#toolbar-menubar:not([inactive=true]) {
	margin-bottom: 0 !important;
}

/*bookmark toolbar*/
#PersonalToolbar {
	padding: 2px !important;
	height: 28px;
	border-bottom: 1px solid var(--gnome-inactive-toolbar-border-color) !important;
}

toolbarbutton.bookmark-item:not(.subviewbutton) {
	padding: 0 8px !important;
	margin: 0 0 !important;
	color: var(--gnome-button-color) !important;
	border-radius: 100px !important;
}

toolbarbutton.bookmark-item:not(.subviewbutton):hover {
	background: var(--gnome-button-hover-background) !important;
}

toolbarbutton.bookmark-item:not(.subviewbutton)[open="true"] {
	background: var(--gnome-button-active-background) !important;
}

/* Overrides: Remove border below the menu bar / above the header bar */
#TabsToolbar:not([collapsed="true"]) + #nav-bar {
	border-top-width: 0 !important;
}
#navigator-toolbox::after {
	border-bottom-width: 0 !important;
}

/* Overrides: Don't shift other toolbars on tab drag and drop */
#TabsToolbar[movingtab] {
	padding-bottom: 0 !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
#TabsToolbar[movingtab] + #nav-bar {
	margin-top: 0 !important;
}
